dist: xenial

language: python

python:
  - "3.8"

cache: pip

before_install:
  # install minimap2
  - wget https://github.com/lh3/minimap2/releases/download/v2.17/minimap2-2.17_x64-linux.tar.bz2
  - tar xvf minimap2-2.17_x64-linux.tar.bz2
  - export PATH=$PWD/minimap2-2.17_x64-linux:$PATH

install:
  - pip install -r test_requirements.txt
  - pip install -e .

script: 
  - flake8
  - pytest

branches:
  only:
    - master

notifications:
  slack: jbloomlab:0mZZc056qnzqe1B2BMJp1FHL
