# sanitize file for nbval testing of Jupyter notebooks

# pandas data frames inconsistently are defined in HTML as table
# or header elements. Simply replace both as `pandas_index_cell_header`
[pandas_index_cell_header]
regex: <t[dh]>[\w\.]+</t[dh]>
replace: pandex_index_cell_header

# Avoid errors due to different figure sizes
[matplotlib_figure_size]
regex: <Figure size [\d\.x]+ with \d+ Axes>
replace: matplotlib_figure_size
